body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

:root {
    --player1PokeSize: 70vh;
    --player2PokeSize: 45vh;
}

@font-face {
    font-family: pixel;
    src: url(./media/fonts/ARCADECLASSIC.TTF);
}

.hiddenElement{
    display: none;
}

#loadingScreen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1;
}

#pokeballLoadingScreen{
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0; 
    margin: auto;
    width: 3072px;
    height: 256px;
    background-image: url("./media/images/loading.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    animation: pokeballLoading 1s steps(12) infinite;
    z-index: -1;
}
@keyframes pokeballLoading{
    0%{
        left :0px;
    }
    100%{
        left :-3072px;
    }
}

#pokeballLoadingOverlay{
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0; 
    margin: auto;
    width: 256px;
    height: 256px;
}

#pokeballLoadingOverlay2{
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0; 
    margin: auto;
    width: 256px;
    height: 256px;
    box-shadow: 0 0 0 99999px rgb(255, 255, 255);
    z-index: 4;
}

.mainContainer {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background {
    image-rendering: pixelated;
    background-image: url("./media/images/battleground.png");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 95%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

#pressStart{
    background-image: url("./media/images/start.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: 40vh;
    image-rendering: pixelated;
}

.pokemonTileDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#player1Pokemon {
    width: var(--player1PokeSize);
    height: var(--player1PokeSize);
    top: 51vh;
    right: 58vw;
}

#player2Pokemon {
    width: var(--player2PokeSize);
    height: var(--player2PokeSize);
    top: 42vh;
    right: 14vw;
}

.pokemonTile {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    z-index: 4;
}

.glowingTrunfo{
    animation: glowingPokemon 1s  infinite;
}

@keyframes glowingPokemon {
    0%{
        -webkit-filter: drop-shadow(0px 0px 0 rgb(253, 71, 253)) drop-shadow(-0px -0px 0 rgb(253, 71, 253));
        filter: drop-shadow(0px 0px 0 rgb(253, 71, 253)) drop-shadow(-0px -0px 0 rgb(253, 71, 253));
    }
    50%{
        -webkit-filter: drop-shadow(.7vh .7vh .7vh rgba(253,71,253,1)) drop-shadow(-.7vh -.7vh .7vh rgba(253,71,253,1));
        filter: drop-shadow(.7vh .7vh .7vh rgba(253,71,253,1)) drop-shadow(-.7vh -.7vh .7vh rgba(253,71,253,1));
    }
    100%{
        -webkit-filter: drop-shadow(0px 0px 0 rgb(253, 71, 253)) drop-shadow(-0px -0px 0 rgb(253, 71, 253));
        filter: drop-shadow(0px 0px 0 rgb(253, 71, 253)) drop-shadow(-0px -0px 0 rgb(253, 71, 253));
    }
}


#player1Menu {
    position: absolute;
    top: 4vh;
    left: 1vw;
}

#player2Menu {
    position: absolute;
    top: 4vh;
    right: 26vw;
}

.menuTile {
    width: 25vw;
    height: 35vh;
    image-rendering: pixelated;
    position: absolute;
    z-index:4;
    background-image: url("./media/images/menu_ally.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.scoreItem {
    font-family: pixel;
    font-size: 2.6vw;
    width: 5.9vw;
    height: 5.63vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.cursorCell{
    font-family: pixel;
    font-size: 2.6vw;
    width: 2vw;
    margin-right: -1px;
    height: 5.63vh;
}

.cursorCellCurrent{
    background-image: url("./media/images/cursor.png");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size: 100% 100%;
}

.playerTable{
    position: absolute;
    z-index: 4;  
    border-collapse: collapse;
    right: -2vw;
}

.pokemonName {
    background-color: white;
    width: fit-content;
    padding: 0.5vw;
    border: solid 0.3vw rgb(30, 60, 60);
    font-family: pixel;
    border-radius: 2px;
    font-size: 4vh;
    height: 6.5vh;
}

.pokemonLabels {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pokemonTier {
    background-color: white;
    width: 6.5vh;
    height: 6.5vh;
    padding: 0.5vw;
    border: solid 0.3vw rgb(30, 60, 60);
    font-family: pixel;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.5vh;
}

.tierA {
    background-color: #b0e1f0;
    border-color: #6aa6d4;
}

.tierB {
    background-color:#ffe564;
    border-color: #ffaf34;
}

.tierC {
    background-color:#dbdfe2;
    border-color: #676c93;
}

.tierD {
    background-color: #cc5f27;
    border-color: #f89746;
}

.tierSuperTrunfo {
    width: fit-content;
    font-size: 3vh;
    animation: glowTrunfoLabel 2s ease-in-out infinite;
}

@keyframes glowTrunfoLabel{
    0%{
        border: solid 0.3vw black;
        color:black ;
    }
    30%{
        border: solid 0.3vw rgb(200,200,0);
        color:rgb(200,200,0);
    }
    70%{
        border: solid 0.3vw rgb(200,200,0);
        color:rgb(200,200,0);
    }
    100%{
        border: solid 0.3vw black;
        color:black;
    }
}

.deck{
    position:absolute;
    bottom: 2vh;
}

#player1deck{
    left:3vw;
}

#player2deck{
    right:9vw;
}

.deckCard{
    width: 12vh;
    height: 12vh;
    background-size: 100% 100%;
    position: absolute;
    image-rendering: pixelated;
}

